{#
/**
 * @file
 * Default theme implementation to display a course enrollment form.
 *
 * Available variables:
 * - form: The form array.
 */
#}
<div class="enrollment-form-wrapper">
  {{ form }}
</div>
