{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_certificate/templates/dh-certificate-requirements.html.twig #}
<div class="requirements-overview">
  <h2>{{ title }}</h2>
  
  {{ content.summary }}
  
  <div class="requirements-sections">
    {{ content.sets }}
    {{ content.types }}
  </div>
</div>