{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_certificate/templates/requirement-set-type-tab.html.twig #}
{#
/**
 * @file
 * Default theme implementation for a requirement set type tab.
 *
 * Available variables:
 * - title: The tab title.
 * - count: The number of requirements of this type.
 */
#}
<span class="requirement-type-tab">
  {{ title }} <span class="requirement-count">{{ count }}</span>
</span>