#block-block-133 h2.block-title {
    color: #002359;
    text-transform:none !important;
    font-size:30px !important;
    font-style: normal !important;
    background: url(/sites//digitalhumanities.virginia.edu/themes/uvatemplate2016_theme/images/green-dot.png) bottom left repeat-x !important;
    }