#zone-content-wrapper #zone-content #region-sidebar-first #block-views-events-block-1 a.block-title-link  {
    color: #002359;
    }
    
#zone-content-wrapper #zone-content #region-sidebar-first #block-views-news-block a.block-title-link {
    color: #002359;
    }
    
#zone-content-wrapper #zone-content #region-sidebar-first #block-block-133 .block-title {
    color: #002359;
    }