.views-widget-filter-search_api_views_fulltext {padding-left:10rem !important; padding-bottom:2rem !important;}
.views-field-body {padding: 1rem 0 1rem 0 !important;}
.facetapi-facetapi-links li.leaf > a:hover {color:#EB5F0C !important; font-weight:bold !important;}
ul.facetapi-facetapi-links {padding-left:0 !important;}