/* This file will hold styles that are loaded using the same media query as the wide grid. */

/***************************
** General Styles
****************************/
#search-block-form .form-text {
  width: 1085px;
}

#zone-branding-wrapper #zone-branding #region-branding {
	width: 1000px;
}
.page-node-158 .container-12 .grid-9 {
width: 787px !important;
margin-left: -80px;
}
/**************************
** Responsive Main Menus
***************************/
#zone-menu-wrapper #region-menu #nice-menu-1 li a {
  padding: 0 2em;
}

/**********************
** Custom Header
***********************/
hgroup.site-name-slogan {
/*  margin-top: 75px;*/
}

.logo-img {
  max-width: 400px;
}

#block-views-exp-content-page #edit-title-wrapper {
	width: 90%;
}

/********************
** Slideshow Styles
*********************/

/*************************
** Main Content
**************************/
.container-12 .grid-9 {
  width: 880px !Important;
}

/*********************
** Sidebar First
**********************/
#zone-content-wrapper #zone-content #region-sidebar-first {
  width: 215px;
  margin: 0 65px 0 0;
}
.page-node-158 #zone-content-wrapper #zone-content #region-sidebar-first {
	width:350px!important;
}
/***********************
** News Block
************************/
#zone-content-wrapper #zone-content #region-content .news .views-row {
}

#zone-content-wrapper #zone-content #region-content .news .views-row-last {
	margin-right:0px;
}

#zone-content-wrapper #zone-content #region-sidebar-first .news .views-field-field-image img {
	max-width:150px;
	height:auto;
}

.page-node.context-news #breadcrumb {
	display:none;
}
.page-news-archive #breadcrumb {
	display:none;
}

/*******************
** Sunburst Stats
********************/
#zone-content-wrapper #zone-content #region-content .sunburst-stats {
	width:75%;
}

#zone-content-wrapper #zone-content #region-content .sunburst-stats ul.sunburst li {
	background-size:auto;
	display: inline-block;
	width:25%;
	padding:108px 34px 55px;

}

/*********************
** Featured Articles
**********************/
#zone-postscript-wrapper #zone-postscript .subpage-articles .views-row {
	width:26%;
	margin:0 125px 20px 0;
}

#zone-postscript-wrapper #zone-postscript .subpage-articles .views-row-last {
	margin:0 0 20px 0;
}

#zone-postscript-wrapper #zone-postscript .subpage-articles .views-row img {
	max-width:none;
}

#zone-postscript-wrapper #zone-postscript .subpage-articles .block-inner {
	width:1200px;
}


/******************************
** Related Links Orange Boxes
*******************************/
#zone-content-wrapper #zone-content #region-content .section-links .views-row {
	width:28%;
	margin: 0 90px 30px 0;
}

#zone-content-wrapper #zone-content #region-content .section-links .views-row-even {
	margin:0 90px 30px 0;
}

#zone-content-wrapper #zone-content #region-content .section-links .views-row-3,
#zone-content-wrapper #zone-content #region-content .section-links .views-row-6,
#zone-content-wrapper #zone-content #region-content .section-links .views-row-9 {
	margin:0 0 30px 0;
}

/***********************************
** Postscript - Call to Action block 
***********************************/

#zone-postscript-wrapper #zone-postscript .call-to-action div.action-wrapper {
	width:1200px;
	margin:0 auto;
}

#zone-postscript-wrapper #zone-postscript .call-to-action {
	padding:70px 0;
}

#zone-postscript-wrapper #zone-postscript .call-to-action h2 {
	margin-bottom:10px;	
}

#zone-postscript-wrapper #zone-postscript .call-to-action p {
	padding:0 180px 12px 180px;
}

/*********************
** Footer Styles
**********************/
#zone-footer-wrapper #zone-footer #region-footer-first .region-inner {
	padding-left:20px;
}

#zone-footer-wrapper #zone-footer #region-footer-first {
	width:24%;
}

#zone-footer-wrapper #zone-footer #region-footer-fourth {
	width:13%;
}

/*****************
** Callout Styles
******************/
.callout {
  width: 35%;
}

/***********************
** Staff Styles
************************/
.page-staff .view-display-id-page .view-content {
  display: flex;
  flex-wrap: wrap;
}

.page-staff .view-display-id-page .view-content .views-row {
  width: calc(48% - 30px);
}

.page-staff .view-display-id-page .view-content .views-row:nth-child(2n+1) {
	margin-right: 2%;
}

/********************
** Home Top Styles
*********************/
#block-views-events-block-1 .date {
	width: calc(25% - 25px);
}

/******************************
** Home Content Filter Styles
*******************************/
@media (min-width: 1400px) {
  body.front #block-views-content-types-block .view-content {
	/*width: 1400px;*/
	}
}

/******************************
** Home Content Type Styles
*******************************/
body.front #block-views-content-block-1 {
	margin: 20px auto 40px auto;
	float:left;
	width:100%;
}
body.html.front.not-logged-in.no-sidebars.page-node-158 #block-views-content-block-1  {
	margin-top:120px;
	margin-left:38px;
}
body.html.front.logged-in.no-sidebars.page-node-158 #block-views-content-block-1  {
/*	margin-top: calc(100% - 165%);*/
	margin-top:120px;
	margin-left:38px;
}
body.html.front.logged-in.no-sidebars.page-node-158 #zone-content-wrapper #zone-content #region-sidebar-first #block-views-events-block-1 {
	margin-top:-20px;
}
#block-system-main .view-id-people,
#block-system-main .view-id-tools,
#block-system-main .view-id-projects,
#block-system-main .view-id-organizations,
#block-system-main .view-id-resources {
	width: 1200px;
}

body.front #block-views-content-block-1 .view-content .views-row,
#block-system-main .view-id-people .view-content .views-row,
#block-system-main .view-id-tools .view-content .views-row,
#block-system-main .view-id-projects .view-content .views-row,
#block-system-main .view-id-organizations .view-content .views-row,
#block-system-main .view-id-resources .view-content .views-row {
width:27%;
	padding: 15px;
}

body.front #block-views-content-types-block .view-content-types {
	height: 130px;
}

/*body.front #block-views-news-block,
body.front #block-views-events-block-1 {
  	padding-right: 50px;
}*/

body.front #block-block-86, body.front #block-block-27 {
 	text-align: left;
	margin-bottom: 15px;
margin-top:-20px;
width:100%;
    }
body.front #block-views-content-types-block {
    position:absolute;
    top: 0;
    right: 0;
    width:94%;
}
.front #block-views-events-block-1 .views-row {
	width: 90%;
	}
#block-views-content-types-block-1 {
	display:none;
}

.page-tools .view-tools #edit-title, .page-projects .view-tools button, input  {
	line-height:25px;
}
.page-organizations .form-submit {
	margin-top: 18px!important;
}
