/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/***************************
** General Styles
****************************/
ul.inline li {
  padding: 0 1.5em;
}

ul.inline li.first {
  padding-left: 0;
}

#search-block-form .form-text{
  width: 653px;
}

#search-block-form .form-submit {
  width: 115px;
  padding:6px 15px;
}

.search-close {
  background: white;
}

#zone-user-wrapper {
  display: block;
}

#zone-user-wrapper .region-user-first {
  text-align: left;
  padding-top: 10px;
}

#zone-user-wrapper .region-user-first .uvabar_logo {
  margin-top: 13px;
  margin-bottom: 6px;
}

#zone-user-wrapper .region-user-first img {
  max-width: none;
}

#zone-user-wrapper .region-user-second {
  float: right;
  width: 70px;
  padding-right: 45px;
}

#zone-user-wrapper .region-user-second.search-close #mobile-menu {
  display: none;
}

#zone-branding-wrapper {
  background: #fff;
  margin: 0 auto;
}

#zone-branding-wrapper #zone-branding {
  color: white;
}

#zone-branding-wrapper #zone-branding .grid-12 {
  margin-left: 0;
  margin-right: 0;
}

#zone-branding-wrapper #zone-branding .branding-data {
  float: left;
  width: 95%;
}

#zone-branding-wrapper #zone-branding .branding-data .site-name {
  font-size: 48px;
  line-height: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: left;
  max-width: none;
}

#zone-branding-wrapper #zone-branding .branding-data .site-name a {
  
}

#zone-branding-wrapper #zone-branding .branding-data .site-slogan {
  margin: 0 0 0 10px;
}

/*************************
** Responsive Main Menus
**************************/
#zone-menu-wrapper {
  top:45px;
}

.expanded-menu {
  clear: none;
  float: none;
  width: 100%;
}

.expanded-menu .content,
.expanded-menu #zone-branding .branding-data,
.expanded-menu h1#page-title {
  width: auto;
}

#zone-menu-wrapper .grid-12 {
  margin-left: 0;
  margin-right: 0;
}

#zone-menu-wrapper #region-menu {
  margin: 0;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li {
  border: none;
  background: #002F6C;
  width:auto;
  display: inline-block;
  font-size: 100%;
  line-height:100%;
  padding: 1em 0;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li a {
  color: white;
  padding: 0 1.5em;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.5px;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li span {
  color: white;
  display: block;
  text-transform: uppercase;
  padding: 0 1.5em;
  font-size: 15px;
  font-style:normal;
  cursor: pointer;
  letter-spacing: 0.5px;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li:hover {
  background:#fff;
  margin-top:-4px;
  padding-bottom:1.25em;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li:hover a,
#zone-menu-wrapper #region-menu #nice-menu-1 li a:hover {
  color: #002F6C;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li.active {
  background: none;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li.active a {
  color: #f36f21;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li.first a {
  border-left: 0 none;
}

#zone-menu-wrapper #region-menu #nice-menu-1 ul {
  webkit-box-shadow: 5px 7px 5px -5px rgba(220,221,222,1);
  moz-box-shadow: 5px 7px 5px -5px rgba(220,221,222,1);
  box-shadow: 5px 7px 5px -5px rgba(220,221,222,1);
}

#zone-menu-wrapper #region-menu #nice-menu-1 li ul {
	background:#fff;
	border:0;
	margin-top:18px;
	width:230px;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li li {
	display:block;
	background:#fff;
	border:0;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li li a {
  color: #002F6C;
}

#zone-menu-wrapper #region-menu #nice-menu-1 li li:hover {
  background:#dadada;
	width:230px;
}

/*************************
** Main Content
**************************/
.container-12 .grid-9 {
  width: 100% !Important;
}

#zone-content-wrapper {
  background: white;
}

#zone-content-wrapper #zone-content {
  background: #ffffff;
  margin: 2em auto;
}

body.front #zone-content-wrapper #zone-content {
  margin:.7em auto 20px;
}

#zone-content-wrapper #zone-content #region-content {
  float: left;
}

body.not-front #zone-content-wrapper #zone-content #region-content.grid-12 .field-name-body h2 {
	margin-top:1em;
	text-transform:uppercase;
}

#zone-content-wrapper #zone-content .block-breadcrumb {
	padding:0 0 25px 0;
}

#zone-content-wrapper #zone-content #region-sidebar-first .news .views-field-field-image {
  float: left;
}

/*******************
** Sunburst Stats
********************/
#zone-content-wrapper #zone-content #region-content .sunburst-stats {
	display:block;
	width:100%;
}

#zone-content-wrapper #zone-content #region-content .sunburst-stats span {
	font-size:90px;
	margin-bottom:25px;
}

#zone-content-wrapper #zone-content #region-content .sunburst-stats ul.sunburst {
	margin:0 auto;
	padding:0;
}

#zone-content-wrapper #zone-content #region-content .sunburst-stats ul.sunburst li {
	background-size:75%;
	display: inline-block;
	width:25%;
	padding:60px 24px 45px;
	line-height: 1.2em;
}

/*********************
** Featured Articles
**********************/
#zone-content-wrapper #zone-content #region-content .view-featured-articles .views-row .article-no-image {
	margin: 0 10%;	
}

#zone-content-wrapper #zone-content #region-content .view-featured-articles img {
	width: auto;	
	margin-bottom: 0;
}

#zone-content-wrapper #zone-content #region-content .view-featured-articles .views-row-odd img {
	float: left;
	margin: 0 40px 25px 0;
}

#zone-content-wrapper #zone-content #region-content .view-featured-articles .views-row-even img {
	float: right;
	margin: 0 0 25px 40px;
}

#zone-postscript-wrapper #zone-postscript .subpage-articles img {
	float: left;
	margin: 0 40px 25px 0;
}

/******************************
** Related Links Orange Boxes
*******************************/
#zone-content-wrapper #zone-content #region-content .section-links .views-row {
	overflow: hidden;
	width: 46.3%;
	float: left;
	margin: 0 50px 30px 0;
	text-align: center;
}

#zone-content-wrapper #zone-content #region-content .section-links .views-row-odd {
	clear: both;	
}
#zone-content-wrapper #zone-content #region-content .section-links .views-row-even {
	margin: 0 0 30px 0;
}

/****************
** Footer Styles
*****************/
.expanded-menu #zone-footer-wrapper {
  display: block;
}

#zone-footer-wrapper #zone-footer #region-footer-first {
	width: 22%;
}

#zone-footer-wrapper #zone-footer #region-footer-second {
	width: 55%;
}

#zone-footer-wrapper #zone-footer #region-footer-fourth {
	width: 15%;
}

#zone-footer-wrapper #zone-footer .region-inner {
	padding: 0;
}

#zone-footer-wrapper #zone-footer #region-footer-first,
#zone-footer-wrapper #zone-footer #region-footer-second .contact {
	padding-bottom: 0;
}

#zone-footer-wrapper #zone-footer #region-footer-second .contact {
	width: 45%;
	float: left;
	margin-right: 25px;
}

#zone-footer-wrapper #zone-footer #region-footer-second .contact.second {
	margin-right: 0;
}

#zone-footer-wrapper #zone-footer #region-footer-fourth img {
	margin-right: 8px;
}

#zone-footer-wrapper #zone-footer #region-footer-fourth p {
	line-height: 2em;	
}

/****************
** Sidebar First
*****************/
#zone-content-wrapper #zone-content #region-sidebar-first {
  width: 100%;
}

/*****************
** Callout Styles
******************/
.callout {
  width: 100%;
}

/*****************
** Events Styles
******************/
.front #block-views-events-block-1 .views-row:first-child {
  margin: 0 1% 25px 0;
  width:325px;
}

.front #block-views-events-block-1 .views-row:last-child {
  margin: 0 0 15px 1%;
   width:325px;
}

/**********************
** Custom Header
***********************/
hgroup.site-name-slogan {
  margin-left: 10px;
  float: left;
}

#zone-menu-wrapper,
#zone-menu-wrapper #region-menu {
/*  margin-top: -4px;*/
}

.logo-img {
  float: left;
}

#block-views-exp-content-page #edit-title-wrapper {
  width: 85%;
}

.search-close {
  border-bottom: dotted 2px #002F6C;
  border-left: dotted 2px #002F6C;
  border-right: dotted 2px #002F6C;
}

/******************************
** Home Content Filter Styles
*******************************/
body.front #block-views-content-types-block .view-content {
  display: flex;
  margin: 0 auto;
}

body.front #block-views-content-types-block .view-content .views-row {
/*  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;*/
  margin: 10px 10px 10px 10px;
  text-align: center;
}

body.front #block-views-content-types-block {
    float: none;
    margin-top: 0px;
    width: 100%;
}



/******************************
** Home Content Type Styles
*******************************/
body.front #block-views-content-block-1 .view-content .views-row,
#block-system-main .view-id-people .view-content .views-row,
#block-system-main .view-id-tools .view-content .views-row,
#block-system-main .view-id-projects .view-content .views-row,
#block-system-main .view-id-organizations .view-content .views-row {
  width: calc(50% - 30px);
  padding: 15px;
}

#block-views-content-types-block-1 {
  display:block;
  clear:both;
}
#block-views-content-types-block-1 h2 {
  text-transform: initial;
  background: url("/sites//digitalhumanities.virginia.edu/themes/uvatemplate2016_theme/images/green-dot.png") bottom left repeat-x;
padding-bottom: 10px;
}

body.front #block-views-content-types-block-1 .views-row, body.front #block-views-content-types-block-1 .view-header {
  float:left;
  margin-right:10px;
  margin-top: 20px
}
#block-views-content-types-block-1 .views-row.views-row a {
color: #fff;
padding-right: 50px;
font-size: 16px;
font-weight: bold;
text-decoration: none !important;
padding: 5px 44px 5px 10px;
background-position: right;
background-size: 20px;
background-repeat: no-repeat; 
background-position-x: 95%;
}
#block-views-content-types-block-1 .views-row.views-row-1 a {
  background-color: #6E984C;
  background-image: url(../images/people-icon.jpg);
}
#block-views-content-types-block-1 .views-row.views-row-2 a  {
background-color: #012676; 
background-image: url(../images/tools-icon.jpg);
}
#block-views-content-types-block-1 .views-row.views-row-3 a  {
background-color: #48194D;
background-image: url(../images/projects-icon.jpg);
}
#block-views-content-types-block-1 .views-row.views-row-4 a  {
background-color: #087F8C;
  background-image: url(../images/orgs-icon.png);
}
#block-views-content-types-block-1 .views-row.views-row-5 a  {
background-color: #D14905;
background-image: url(../images/resources_icon.gif);
}
