{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_dashboard/templates/block--dh-dashboard-news.html.twig #}
<div class="dh-dashboard-news">
  <h3>Latest Bews</h3>
  <ul>
    {% for item in news %}
      <li>{{ item.title }} - {{ item.date }}</li>
    {% endfor %}
  </ul>
</div>