<div class="dh-dashboard dh-admin-dashboard">
  <h2>{{ 'This is where the admins rules'|t }}</h2>
  <div class="dh-dashboard-content">
  GRONKY PITS
    {# Admion-specific dashboard content will go here #}
  </div>
</div>