<div class="certificate-deadlines">
  <h3>{% trans %}Upcoming Deadlines{% endtrans %}</h3>
  <ul class="deadlines-list">
    {% for deadline in deadlines %}
      <li class="deadline-item">
        <span class="deadline-date">{{ deadline.date|date('M j, Y') }}</span>
        <span class="deadline-module">{{ deadline.module }}</span>
        <span class="deadline-type">{{ deadline.type|title }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
