{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_dashboard/templates/dh-dashboard-page.html.twig #}
<div class="dh-dashboard-wrapper">
  <div class="dh-dashboard-content">
    {{ content.dashboard }}
  </div>
</div>