{#
/**
 * @file
 * Default theme implementation for the dashboard page.
 *
 * Available variables:
 * - elements: The rendered node content
 */
#}
<div class="dashboard-page">
  {{ user_card }}
  
  <div class="content-section">
    {% if content %}
      {{ content }}
    {% else %}
      <p>{{ 'No content available'|t }}</p>
    {% endif %}
  </div>

  {% if admin_links %}
    <div class="admin-links">
      {{ admin_links }}
    </div>
  {% endif %}
</div>