<div class="dh-dashboard dh-student-dashboard">
  <h2>{{ 'DH Student Dashboard'|t }}</h2>
  <div class="dh-dashboard-content">
    {# Student-specific dashboard content will go here #}
  </div>
</div>