<div class="user-info main-card">
  <h2>{{ user.name }}</h2>
  <div class="user-details">
    <p>{% trans %}Graduation Year:{% endtrans %} {{ user.graduation_year }}</p>
    <p><a href="{{ user.url }}">{% trans %}Profile{% endtrans %}</a></p>
  </div>
</div>
