.roomright{padding-right:.5em;}
.node-type-projects blockquote.image-field-caption{display:none;}
.courseviewname a{font-family:'ITC Franklin Gothic LT W01 Dm',Arial,sans-serif;font-style:normal;font-size:19px;font-weight:bold;color:#538335;text-transform:uppercase;}
ul.nobullet li{background:none !important;}
